{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CVweb</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/barraNav.css' %}">
</head>
<body>
    {% include 'barraNav.html' %}

    {% block infor %}   {% endblock %}

    <footer>
        <p>Esta pagina esta orientada a ser un CV, diseñada para demostrar conocimientos y re estudiarlos. Es mi blog de notas y mi porfolio junto con mi 
            linkedin y mi github donde voy a subir todos mis proyectos, agradesco la difucion...
        </p>
    </footer>
</body>
</html>